* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header,
.hero,
.information,
.quote,
.footer {
  padding: 0 290px;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.header {
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo a {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}
