*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

.logo a,
.hero-header,
.cta-left {
  color: #f9faf8;
}

.hero p,
.header-links a,
.button {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  padding: 20px 18vw 40px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo a {
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header-links a {
  text-decoration: none;
}

.header-links a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 60px;
  padding-bottom: 140px;
  margin-bottom: 40px;
  padding: 20px 18vw 100px;
}

.hero-text {
  flex: 1;
}

.hero-header {
  font-size: 48px;
}

.hero-img img {
  max-width: 100%;
  min-width: 350px;
}

.button {
  background-color: #3882f6;
  padding: 6px 28px;
  border-radius: 5px;
  margin-top: 10px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-bottom: 100px;
  padding: 40px 24vw 40px;
}

.information-header {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.magicians {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.magician {
  max-width: 200px;
  color: #1f2937;
  font-weight: 100;
  font-size: 22px;
}

.magician img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  border: 2px solid #3882f6;
}

.name {
  display: block;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}

.quote {
  background-color: #e5e7eb;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 32vw 80px;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  min-width: 400px;
}

.quote-author {
  color: #777;
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.cta {
  background-color: #3882f6;
  margin: 80px 22vw;
  padding: 45px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.cta-left {
  font-size: 16px;
}

.cta-header {
  font-size: 22px;
}

.cta-right {
  border: 2px solid #e5e7eb;
}
